{% extends "base.html" %}
{% block title %}{{ plural }}{% endblock %}
{% block content %}
<h1 class="title">{{ plural }}</h1>
<table class="table is-stripped" data-sortable>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Created</th>
    </tr>
{% for resource in resources: %}
<tr>
    <td><a href="/clusters/x/{{ resource.endpoint }}/{{ resource.name }}">{{ resource.name }}</a></td>
    <td>{{ resource.metadata }}</td>
    <td>{{ resource.obj.spec }}</td>
    <td>{{ resource.obj.status }}</td>
    <td>{{ resource.metadata.creationTimestamp }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
