{% extends "base.html" %}
{% block title %}{{ plural }}{% endblock %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
      <li><a href="/clusters/{{ cluster }}">{{ cluster }}</a></li>
      <li><a href="/clusters/{{ cluster }}/namespaces/{{ namespace }}">{{ namespace }}</a></li>
      <li class="is-active"><a href="#">{{ plural }}</a></li>
  </ul>
</nav>

<h1 class="title">{{ plural }}</h1>
<table class="table is-stripped">
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Created</th>
    </tr>
{% for resource in resources: %}
<tr>
    <td>{{ resource.name }}</td>
    <td>{{ resource.metadata }}</td>
    <td>{{ resource.obj.spec }}</td>
    <td>{{ resource.obj.status }}</td>
    <td>{{ resource.metadata.creationTimestamp }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
