{% extends "base.html" %}
{% block title %}{{ plural }}{% endblock %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
      <li><a href="/clusters/{{ cluster }}">{{ cluster }}</a></li>
      {% if is_all_namespaces: %}
      <li><a href="/clusters/{{ cluster }}/namespaces">all</a></li>
      {% elif namespace: %}
      <li><a href="/clusters/{{ cluster }}/namespaces/{{ namespace }}">{{ namespace }}</a></li>
      {% endif %}
      <li class="is-active"><a href="#">{{ plural }}</a></li>
  </ul>
</nav>

{% for table in tables: %}
<h1 class="title">{{ table.api_obj_class.kind }}
    <span class="links">
        <a
            {% if namespace: %}
            href="/clusters/{{ table.obj.cluster.name }}/namespaces/{{ namespace }}/{{ table.api_obj_class.endpoint }}?download=tsv"
            {% else: %}
            href="/clusters/{{ table.obj.cluster.name }}/{{ table.api_obj_class.endpoint }}?download=tsv"
            {% endif %}
            title="Download resource list as Tab-Separated-Values (TSV)"
            class="button is-light">
                <span class="icon"><i class="fas fa-file-download"></i></span>
            </a>
    </span>
</h1>

<table class="table is-striped">
    <tr>
        {% if is_all_namespaces: %}
        <th>Namespace</th>
        {% endif %}
        {% for column in table.columns: %}
        <th title="{{ column.description }}">{{ column.name }}</th>
        {% endfor %}
        <th>Created</th>
    </tr>
{% for row in table.rows: %}
<tr>
    {% if is_all_namespaces: %}
    <td><a href="/clusters/{{ table.obj.cluster.name }}/namespaces/{{ row.object.metadata.namespace }}">{{ row.object.metadata.namespace }}</a></td>
    {% endif %}
    {% for cell in row.cells: %}
    {% if loop.first: %}
    {% if row.object.metadata.namespace: %}
    <td><a href="/clusters/{{ table.obj.cluster.name }}/namespaces/{{ row.object.metadata.namespace }}/{{ table.api_obj_class.endpoint }}/{{ row.object.metadata.name }}">{{ cell }}</a></td>
      {% else: %}
    <td><a href="/clusters/{{ table.obj.cluster.name }}/{{ table.api_obj_class.endpoint }}/{{ row.object.metadata.name }}">{{ cell }}</a></td>
      {% endif %}
    {% else: %}
    <td class="{{ get_cell_class(table, loop.index0, cell) }}">{{ cell }}</td>
    {% endif %}
    {% endfor %}
    <td>{{ row.object.metadata.creationTimestamp }}</td>
</tr>
{% else: %}
<tr>
    <td colspan="{{ table.columns|length + 1 }}">No {{ table.api_obj_class.kind }} objects {% if namespace and not is_all_namespaces:%} in namespace "{{ namespace }}"{% endif %} found.</td>
</tr>
{% endfor %}
</table>

{% endfor %}

{% if namespace and plural != 'namespaces' and not is_all_namespaces: %}
<a href="/clusters/{{ cluster }}/namespaces/_all/{{ plural }}">Show {{ plural }} across all namespaces</a>
{% endif %}


{% endblock %}
