<nav class="navbar is-fixed-top is-{{ theme.navbar_class }}" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="nav-menu">
        <div class="navbar-start">
            <a class="navbar-item {{ 'is-active' if page == 'clusters' }}" href="/clusters">Clusters</a>
            {% if namespaces: %}
            <div id="namespace-dropdown" class="navbar-item has-dropdown">
                <a class="navbar-link">
                    {{ namespace }}
                </a>

                <div class="navbar-dropdown">
                    <div class="control">
                        <input id="namespace-searchbox" type="text" placeholder="type to filter" class="input is-transparent">
                    </div>
                    {% for ns in namespaces: %}
                    <a class="navbar-item namespace-item" href="/clusters/{{ cluster}}/namespaces/{{ ns.name }}">
                        {{ ns.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <form method="get" action="/search">
                    <div class="field">
                        <p class="control has-icons-right">
                        <input type="hidden" name="cluster" value="{{ cluster or '' }}" >
                        <input type="hidden" name="namespace" value="{{ namespace if cluster and namespace else '' }}" >
                        <input class="input" type="text" placeholder="Search Kubernetes objects.." name="q">
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                        </p>
                    </div>
                </form>
            </div>
            <a class="navbar-item {{ "is-active" if reload }}" title="Toggle auto-reload page every 30 secs" href="{{ rel_url.update_query(reload=0 if reload else 30) }}" id="btn-reload">
                <span class="icon">
                    {% if reload: %}
                    <span class="fa-stack">
                        <i class="fas fa-slash fa-stack-1x"></i>
                        <i class="fas fa-redo-alt fa-stack-1x"></i>
                    </span>
                    {% else: %}
                    <i class="fas fa-redo-alt"></i>
                    {% endif %}
                </span>
            </a>
            <a class="navbar-item" href="/preferences">
                <span class="icon">
                    <i class="fas fa-user-cog"></i>
                </span>
            </a>
        </div>
    </div>
</nav>
